* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 75vh;
    /* margin: 0px 5px; */
}

.header {
    background-color: #000;
    color: aliceblue;
    padding: 15px;
}

.main-Video {
    background-color: #000;
    width: 75vw;
    height: 75vh;
    transition: all ease-in 0.5s;
    /* z-index: -1; */
    opacity: 0;
    /* transition: all ease-in 0.5s; */
}


ul {
    position: absolute;
    right: 0;
    margin: 0;
    margin-left: 10px;
    overflow: hidden;
    overflow-y: scroll;
    width: 25%;
    outline: 1px solid #a8aaa9;
    height: 75vh;
}

.lessonTitle {
    border-bottom: 1px solid #a8aaa9;
    list-style: none;
    color: #000;
    font-size: 15px;
    font-weight: 700;
    line-height: 45px;
    width: 100%;
    position: sticky;
    background-color: #cfcbcb;
    top: 0px;
}

.lesson {
    border-bottom: 1px solid #a8aaa9;
    list-style: none;
    color: #000;
    font-size: 15px;
    font-weight: 700;
    line-height: 45px;
    margin: 2.5px 1px;
    cursor: pointer;
    width: 100%;
    padding: 1px 0px;
}

a {
    color: rgb(17, 50, 235);
    text-decoration: none;
    /* 讓整個lesson都能被觸及 */
    display: block;
    width: 100%;
}

video {
    position: absolute;
    /* opacity: 0; */
    /* transition: all ease-in 0.5s; */
}

audio {
    width: 75vw;
    height: 75vh;
}

.audio {
    position: absolute;
    top : 65px;
}

iframe {
    width: 75vw;
    height: 75vh;
}

#first:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 75%;
    height: 75%;
    z-index: 10;
}

#second:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 75%;
    height: 75%;
}

#thrid:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 75%;
    height: 75%;
    z-index: 10;
}

#fourth:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 75%;
    height: 75%;
    z-index: 10;
}

#first:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards 0.5s;
}

#second:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards 0.5s;
}

#thrid:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards 0.5s;
}

#fourth:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards 0.5s;
}

/* 以下嘗試優化改寫 */
/* section {
    position: absolute;
    opacity: 0;
    transition: all ease-in 0.5s;
}

section h1 {
    color: #000;
    font-size: 50px;
    opacity: 0;
}

section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 75%;
    height: 75%;
}

section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards 0.5s;
} */
/* 改寫成video形式 */
/* video {
    position: absolute;
    opacity: 0;
    transition: all ease-in 0.5s;
}

source {
    opacity: 0;
}

video:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 75%;
    height: 75%;
}

source:target {
    opacity: 0;
    animation: 2s fadeIn forwards 0.5s;
} */



@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}